/* Global */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Kanit&family=Passion+One:wght@400;700&family=Poppins:wght@500&family=Work+Sans&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



:root{
    --background: #FFFFFF;
    --black: #3A3A3A;
    --hot-pink: #E02C6D;
    --font-family: 'Poppins', sans-serif;
    --dark-blue: #0A0826;
    --try: 1px solid red;
    --white: white;
    --yellow: #FB8200;
    --gray: #6C6C6C;
}
/* Common class */
body{
    font-family: var(--font-family);
    background-color: var(--background);
}
/* Nav-bar start */

.Nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1365px;
    height: 80px;
    align-items: center;
    background-color: var(--background);
}

.nav-text{
    padding-left: 120px;
}
.nav-heading{
    font-weight: 700;
    font-size: 24px;
}
.nav-menu{
    padding-right: 120px;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 34px;
}
.nav-items{
    font-weight: 600;
    font-size: 16px;
}

/* Nav-bar start */

/* banner start */
.banner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 87vh;
    margin-bottom: 70px;
}

.banner-text{
    padding-left: 103px;
    width: 50%;
    height: 100%;
}
.banner-heading{
    padding-top: 150px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 52px;
    color: var(--black);
}
.banner-paragraph{
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
}
.banner-btn{
    background: var(--hot-pink);
    border: 0;
    padding: 10px 24px;
    border-radius: 41px;
    color: var(--white);
}
.banner-image{
    padding-top: 80px;
    margin: 0 auto;
    background-image: url(/images/Circle\ design.svg);
    border: 0;
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
   
}
.banner-image img{
    margin: 0 auto;
    width: 440px;
    height: 414px;
}
/* banner End */

/* company start */
.company{
    margin: 0 auto;
    width: 1110px;
    height: 110px;
}

.image-box{
    margin: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

/* company end */

/* collection  Start */
.collection{
    margin-top: 80px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;
}

.collection-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.collection-heading{
    font-weight: 600;
    font-size: 28px;
    color: var(--black);
    text-align: center;
    margin-bottom: 30px;
}
.collection-item{
    padding: 15px;
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection-img{
    width: 300px;
    height: 256px;
}

.item-heading{
    font-weight: 500;
    font-size: 28px;
    color: var(--black);
}

.item-tk{
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
}
.rating{
    display: flex;
    gap: 8px;
}
.fa-solid{
    color: var(--yellow);
    font-size: 12px;
}

.rating-num, .rating-description{
    font-weight: 700;
    font-size: 14px;
    margin-top: 4px;
    color: var(--black);
}


/* collection  End */

/* See more  Start */
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    margin-bottom: 100px;
}

.see-more-text , .filled{
    font-weight: 700;
    font-size: 16px;
    color: var(--hot-pink);
}

/* See more  End */

/* summary start */
.summary{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 0 auto;
    margin-left: 150px;
    margin-right: 100px;
    height: 270px;
}

.sum-img img{
    width: 404px;
    height: 270px;
    border-radius: 7px;
    border: 0;

}
.sum-head{
    font-weight: 700;
    font-size: 38px;
    color: var(--dark-blue);
    margin-bottom: 16px;
}
.sum-description{
    font-weight: 700;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 16px;
    padding-right: 50px;
}
.sum-btn{
    font-weight: 700;
    font-size: 16px;
    width: 140px;
    height: 44px;
    background-color: var(--hot-pink);
    border: 0;
    color: white;
}

/* summary End */

/* Footer start */
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 280px;
    background-color: var(--dark-blue);
}

.footer-info{
    margin-top: 100px;
    text-align: center;
    width: 300px;
    height: 200px;
}
.footer-head{
    font-weight: 700;
font-size: 24px;
color: var(--background);
margin-bottom: 3px;
}

.footer-text-one , .footer-text-two{
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
    margin-bottom: 3px;
}

.footer-icon{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Footer End */